.vendor-bgletter {
	background: url(../output/vendor-lpeu-background/letter.png) 0 0 ;
}

.content-article { 
	text-align:justify;
	padding-right:2em;
} 

.content-title { 
	font-size:130%;
	font-weight:bold;
} 

h2 { font-size:120% } 
