
.button a { 
	text-decoration:none; 
	color:black;

} 
.button {
        width:250px;
        margin:0px;
	cursor:pointer;
        padding:0px;
	padding-top:22px;
        background:url(../output/component-fixed-button/gray.png) no-repeat 0 0;
        text-align:center;
	font-size:115%;
	color:black;
        height:50px;
}

.button-highlight {
	opacity:.8;
}

.button-blue {
        background:url(../output/component-fixed-button/blue.png) no-repeat 0 0;
}

.button-orange {
        background:url(../output/component-fixed-button/orange.png) no-repeat 0 0;
}
.button-lightblue {
        background:url(../output/component-fixed-button/lightblue.png) no-repeat 0 0;
}
.button-green {
        background:url(../output/component-fixed-button/green.png) no-repeat 0 0;
}
.button-odd {
        background:url(../output/component-fixed-button/image.png) no-repeat 0 0;
}


