/*--------------------------------------------------------------
 Application.css
 Imports all stylesheets; sets defaults for bare elements
 --------------------------------------------------------------*/

@import 'layout.css';
@import 'content.css';

abbr  { border: none; }
cite  { font-style: normal; }
a img { border: none; padding: 0; margin: 0; }

a:link,  a:visited { color: #000; }
a:hover, a:active  { background: #eee; }

/* http://longren.org/2006/09/27/wrapping-text-inside-pre-tags */
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

dd {
  padding: 0;
  margin: 0;
}

dt {
  padding: 0;
  margin: 0;
}
