/**
 * Controls the main layout (width, height, margin, padding)
 *
 * #container
 *   #header
 *   #page
 *     #content
 *     #sidebar
 *   #footer
 */
body {
  text-align: left;
  margin: 0; padding: 0.6em 1em 1em 1em; 
}

article {
  float: left;
  text-align: left;
  padding: 0 0 0 5px; 
}
